@function rem($px) {
  @return $px / 32 + rem
}

.clearfix:after {
  display: block;
  clear: both;
  content: '';
}

header {
  height: rem(75);
  width: 100%;
  background: linear-gradient(#ef7b00, #ffac2c);
  text-align: center;
  position: relative;
  #hd_fh {
    font-size: rem(30);
    color: #fff;
    position: absolute;
    left: rem(10);
    top: rem(23);
  }
  #title {
    font-size: rem(30);
    line-height: rem(75);
    color: #fff;
  }
  #zc {
    font-size: rem(25);
    color: #ffffff;
    float: right;
    line-height: rem(75);
    padding-right: rem(25);
  }
}

.logo {
  margin-top: -1px;
  padding: rem(46) 0 rem(52);
  background: #ffac2c;
  #logo {
    display: block;
    margin: 0 auto;
    width: rem(280);
  }
}

.login {
  padding: rem(50);
  padding-top: rem(92);
  .row {
    width: 100%;
    padding: rem(26) 0;
    border-bottom: 1px solid #dddddd;
    i {
      font-size: rem(31);
      color: #dddddd;
    }
    input {
      font-size: rem(31);
      padding-left: rem(10);
    }
    #login {
      width: 100%;
      height: rem(86);
      font-size: rem(29);
      border-radius: rem(43);
      border: 0px;
      background: #ffd974;
      color: #fff;
    }
  }
  .sub {
    border-bottom: 0;
    padding-top: rem(59);
  }
  .forgtet {
    padding: 0;
    border-bottom: 0;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    span {
      line-height: rem(75);
      font-size: rem(25);
      color: #ff9412;
    }
  }
}


